.button {
  position: relative;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 2rem;
  background: #006fad;
  color: #fff;
  cursor: pointer;
  transition: background 0.15s;
  overflow: hidden;
  &:hover {
    background: #005f95;
  }

  &__ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    background: rgba(255, 255, 255, 0.2);
    animation: ripple 0.4s linear;
  }
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}
